h1{
   font-size: 40px;
   font-weight: 700;
   margin: 0 0 20px 0;
}
h2{
   font-size: 30px;
   font-weight: 500;
   margin: 0 0 15px 0;
}
div{
   margin: 0 0 30px 0;
}
p{
   margin: 0 0 10px 0;
}
body{
   padding: 30px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.cgb{
   color: green;
   font-weight: 600;
}
.i{
   font-style: italic;   
   color:dimgray;
}
.b{
   font-weight: 700;
}
.t1{
   margin: 0 0 0 20px;
}
.t2{
   margin: 0 0 0 40px;
}
.t3{
   margin: 0 0 0 60px;
}
.code{
   background:darkgrey;
   border-radius: 5px;
   padding: 5px;
   font-style: italic;
   color: aliceblue;
}
.css__key{
   color: blueviolet;
}
.css__tag{
   color:goldenrod;
}
.css__class{
   color:chocolate;
}
ol{
   margin: 0 50px 0 0;
}
.lit{
   font-size: 10px;
}